/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2015, 10:47:47 AM
    Author     : bepa
*/

.anchorPane {
    -fx-background-color: #E6E6FA;
}

.button {
    -fx-padding: 5 22 5 22; 
    -fx-border-color: #4682B4;
    -fx-border-width: 1.5;
    -fx-background-radius: 2px;
    -fx-background-color: #bcd1ed;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #4682B4;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-border-color: #4682B4;    
    -fx-background-color: #4682B4;
    -fx-text-fill: #E6E6FA;
}

/*.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: red;
}*/

.button:focused {
    -fx-background-color: #7da1d2;
    -fx-border-color: #3a6298;
    -fx-text-fill: #E6E6FA;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #5555a6;
    -fx-opacity: 0.6;
}

.menuBar{
    -fx-background-color: #3c6d96;
    -fx-text-fill: #E6E6FA;
}

.menuBar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #E6E6FA;
    -fx-opacity: 0.6;
}

.menuBar .menu:hover, .menuBar .menu:checked {
    -fx-background-color: #96b8d4;
    -fx-text-fill: #E6E6FA;
}

#menuLabel .label {
    -fx-text-fill: black;
}

.splitPane {
    -fx-background-color: #FFFFFA;    
}

.splitPane:horizontal> .split-pane-divider {
    -fx-background-color: #E6E6FA;
}

.textField {
    -fx-padding: 5 5 5 5;
    -fx-border-color: #4682B4;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-color: #bcd1ed;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #4682B4;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.textField:focused {
    -fx-background-color: #d6e0ef;
    -fx-border-color: #FFFFFA;
}